<td class='cart-item-subscription text-center' data-hook='cart_item_subscription'>
  <% subscription = @order.subscriptions.find_by(variant: variant) %>
  <% if subscription %>
    <%= subscription.frequency.title.capitalize %>
  <% else %>
    Not Subscribed
  <% end %>
</td>
<td class="text-center">
  <%= subscription.delivery_number %>
</td>
