/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*= require jquery-ui/datepicker
*= require spree/frontend/datepicker
*/

.form-group {
  &.withError {
    label, .formError, .required {
      color: red;
    }

    input {
      border-color: red;
    }
  }
}

.m-t-25 {
  margin-top: 10px;
}
