<div class='field checkbox'>
  <label>
    <%= f.check_box :is_subscribable_eq, { :checked => params[:q][:is_subscribable_eq] == '1' }, '1', nil %>
    <%= Spree.t(:show_subscribable ) %>
  </label>
</div>
