<div class="alert alert-success alert-auto-disappear hidden" id="success_flash_message"></div>
<div class="alert alert-danger alert-auto-disappear hidden" id="error_flash_message"></div>

<% if flash[:success] %>
  <% debugger %>
  <div class="alert alert-success alert-auto-disappear" id="html_success_flash_message"><%= flash[:success] %></div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger alert-auto-disappear" id="html_error_flash_message"><%= flash[:error] %></div>
<% end %>
